<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
    <h1>Contact</h1>
    <a href="{% url 'index' %}">Back to Homepage</a>
    <br><br>
    <table border="1">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Age</th>
                <th>Sex</th>
                <th>Breed</th>
            </tr>
        </thead>
        <tr>
            <td><img src="{{ dog.image.url }}"></td>
            <td>{{ dog.name }}</td>
            <td>{{ dog.age }}</td>
            <td>{{ dog.sex }}</td>
            <td>{{ dog.breed }}</td>
        </tr>
    </table>
    <br>
    <form action="{% url 'contact' id %}" method="post" autocomplete="off">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label }}
            <br>
            {{ field }}
            <br>
        {% endfor %}
    <br>
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    <br>
        <button type="submit">Send Email</button>
    </form>
</body>
</html>